@use '../../scss/mixins' as mixin;
@import '../../scss/variables';

.card {
  border: 1px solid $divider;
  border-radius: 4px;
  margin: 16px;

  .heading {
    color: $textGrey;
    font-weight: bold;
    padding: 16px;
  }

  .tabularDetails {
    display: flex;
    flex-direction: column;

    .detailRow {
      display: flex;
      flex-direction: row;
      margin-bottom: 8px;
      font-weight: bold;
      padding: 4px 16px;

      .key {
        text-transform: uppercase;
      }
    }
  }

  .deliveryBlock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .title {
      font-weight: bold;
      color: $darkTextGrey;
      padding: 16px;
    }
  }
}
