@use "../../scss/mixins" as mixin;
@import "../../scss/variables";

.layout {
  margin: 16px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  @include mixin.fxLayoutGap(32px);

  .image {
    flex: 1;
    background-color: $divider;
    height: 300px;
    
    .imageUpload {
      @include mixin.fxFill();

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .altText {
    font-size: 14px;
    @include mixin.fxLayoutAlign(center, center);
  }

  .form {
    flex: 3;
    margin-left: 32px;

    .textField {
        width: 100%;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
  }
}
