@use "../../mixins" as mixin;
@import "../../variables";

.layout {
  border: 2px solid $divider;
  border-radius: 4px;
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
  padding: 32px;
  @include mixin.fxLayoutGap(32px);

  .image {
    flex: 1;
    background-color: $divider;
    height: 300px;
    
    .imageUpload {
      @include mixin.fxFill();

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .altText {
    font-size: 14px;
    @include mixin.fxLayoutAlign(center, center);
  }

  .form {
    flex: 3;
    margin-left: 32px;

    .textField {
        width: 100%;
    }
  }
}
