@use "../../mixins" as mixins;
@import "../../variables";

.container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    @include mixins.fxLayoutGap(16px);

    .heading {
        color: $primary;
        font-weight: bold;
        text-transform: uppercase;
    }

    .priceSlider {
        margin-left: 16px;
    }
}