@import '../../scss/variables';

.layout {
  display: flex;
  margin: 16px;
  padding: 16px;
  flex-direction: column;

  .orderOuterBox {
    margin: 8px 0px;
    border: 2px solid #e5e5e5;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

    .bookDetails {
      flex: 3;
      min-width: fit-content;
    }

    .orderDetails {
      flex: 1;
      margin-left: 16px;
      border: 2px solid #e5e5e5;
      padding: 16px;
      border-radius: 4px;
      max-width: 250px;
    }
  }
}
