@use '../../scss/mixins' as mixin;
@import '../../scss/variables';

.ratingDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mixin.fxLayoutGap(16px);

  .textField {
    width: 300px;
  }

  .msg {
    font-weight: bold;
    font-size: 16px;
    margin: 8px;
    color: $darkTextGrey;
    text-align: center;
  }
}
