@import "../../variables";

.loginForm {
  display: flex;
  flex-direction: column;
  padding-top: 16px;

  .textField {
    width: 300px;
  }
  .guestLogin {
    align-self: flex-end;
    margin-right: -16px;
    color: $primary;
  }
  .inputIcon {
    margin-right: 8px;
  }
  .googleLoginBtn {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  // consistent drop shadow with google btn
  .btn {
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  }
}

.dialog {
  min-width: 500px;
  min-height: 500px;
}

.dialogFooter {
  position: absolute;
  font-size: 14px;
  font-style: italic;
  color: $primary;
  text-align: center;
  width: calc(100% - 32px);
  bottom: 16px;
  cursor: pointer;

  .secondaryText {
    margin-left: 4px;
  }

  .registerText {
    color: $secondary;
    margin-left: 4px;
  }
}
