@import "../../variables";

.loginForm {
  display: flex;
  flex-direction: column;
  padding-top: 16px;

  .textField {
    width: 300px;
  }
}

.dialog {
  min-width: 500px;
  min-height: 500px;
}

.dialogFooter {
  position: absolute;
  font-size: 14px;
  font-style: italic;
  color: $primary;
  text-align: center;
  width: calc(100% - 32px);
  bottom: 16px;
  cursor: pointer;

  .secondaryText {
    margin-left: 4px;
  }

  .registerText {
    color: $secondary;
    margin-left: 4px;
  }
}
