@import "../../../variables";

// non-compiled sass block, only for extension
%ratingContainer {
  color: white;
  font-weight: bold;
  width: 50px;
  padding: 4px;
  border-radius: 4px;
  margin: 4px 0px;
  text-align: center;
}

.midRating {
  @extend %ratingContainer;
  background-color: green;
}

.lowRating {
  @extend %ratingContainer;
  background-color: yellowgreen;
}

.noRating {
  @extend %ratingContainer;
  background-color: grey;
}
