@import "../../../variables";

// non-compiled sass block, only for extension
%ratingContainer {
  color: $white;
  font-weight: bold;
  width: 50px;
  padding: 4px;
  border-radius: 4px;
  margin: 4px 0px;
  text-align: center;
}

.rating {
  @extend %ratingContainer;
}

.smallRating {
  @extend %ratingContainer;
  margin: 4px 0px;
  font-size: 10px;
  width: 25px;
  padding: 2px;
}

