@import '../../scss/variables';

.stepper {
  margin: 16px 64px 16px 64px;
}

.layout {
  display: flex;
  flex-direction: column;
  margin: 16px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    column-gap: 16px;

    .title {
      font-weight: bold;
    }
  }

  .borderLayoutBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $divider;
    border-radius: 4px;
    margin: 16px;
    padding: 16px;

    .boldText {
      font-weight: bold;
    }
  }

  .emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      object-fit: scale-down;
      // layout has padding of 16px on all sides
      max-width: calc(100vw - 32px);
    }

    .msg {
      text-align: center;
      color: $textGrey;
      font-weight: bold;
      margin-bottom: 16px;
    }

    .btn {
      margin: 16px 0px;
    }
  }
}
