@import "../../variables";

.searchBarUsers {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #e5e5e5;
  width: 30% !important;
  height: 32px !important;
}

.searchBarBooks {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #e5e5e5;
  width: 50% !important;
  height: 32px !important;
}
