@import "../../../variables";

.image {
  opacity: 0.2;
}

.dialog {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.title {
  font-weight: 800 !important;
  color: $primary;
  text-align: center;
}

.content {
  padding: 8px;
}
