@use "../../../scss/mixins" as mixins;
@import "../../../scss/variables";

$primaryHover: #27399c;

.confirmationMsg {
  margin: 16px 8px;
  text-align: center;
}

.layout {
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  @include mixins.fxLayoutGap();

  .leftLayout {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mixins.fxLayoutGap(16px);

    .title {
      color: $primary;
      font-size: 18px;
      font-weight: 500;
    }

    .content {
      font-size: 14px;
      @include mixins.fxLayoutGap(16px);

      .pdtDescription {
        color: #9c9c9c;
        font-weight: 500;
      }
    }

  }

  .rightLayout {
    flex: 2;
    display: flex;
    flex-direction: column;

    .cardDetailsMsg {
      margin: 0px 16px 16px;
      color: $primary;
      font-weight: 500;
    }
  }

  .paymentForm {

    .formGroup {
      margin: 0 16px 20px;
      padding: 0;
      border-style: none;
      background-color: #7795f8;
      will-change: opacity, transform;
      box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06),
        0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
      border-radius: 4px;

      .formRow {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        margin-left: 16px;
        border-top: 1px solid #819efc;
      }
    }

    .buttons {
      margin: 0px 16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include mixins.fxLayoutGap();
      @include mixins.fxLayoutHorzGap();

      .btn {
        min-width: 100px;
      }
    }
  }
  .image {
    max-width: 400px;
  }
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.stripeCard {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.pay {
  display: block;
  font-size: 16px;
  width: calc(100% - 32px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: $primary;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 $primaryHover;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;

  &:active {
    background-color: $primaryHover;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 $primaryHover;
    transform: scale(0.99);
  }
}

.confirmationMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixins.fxLayoutGap();

  .successImg {
    width: 100px;
  }

  .infoMessage {
    color: $darkTextGrey;
    font-weight: 500;
    text-align: start;

    .impText {
      font-weight: bold;
    }
  }
}
