@use '../../../scss/mixins' as mixins;
@import '../../../scss/variables';

.bookTile {
  border: 1px solid $divider;
  border-radius: 4px;
  margin: 16px;
  display: flex;
  padding-top: 16px;
  min-height: 170px;

  .description {
    flex: 2;
    display: flex;
    flex-direction: column;
    @include mixins.fxLayoutGap();

    .title {
      font-weight: bold;
      cursor: pointer;
      color: $primary;
    }

    .deleteBtn {
      margin: 0px 16px 16px 0px;
      width: fit-content;
    }
  }

  .image {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    @include mixins.fxLayoutGap();

    .photo {
      max-height: 80%;
      padding: 8px;
      border: 2px solid #e5e5e5;
      border-radius: 4px;
    }
  }
}
