@import "../../scss/variables";

.topRightBanner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0px;
}

.appName {
  height: 30px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
  color: $primary;
  justify-content: space-between;
  align-items: center;
}

.headerGroup {
  top: 0;
  position: sticky;
  background-color: $primary;
  z-index: 2;
}
