@use "../../../scss/mixins" as mixins;
@import "../../../scss/variables";

.layout {
  display: flex;
  margin: 16px;
  padding: 16px;
  flex-direction: column;

  .headerInfo {
    display: flex;
    flex-wrap: wrap;

    .leftLayout {
      flex: 4;

      .heading {
        font-weight: bold;
        color: $primary;
        font-size: 24px;
      }
    }

    .rightLayout {
      flex: 1;
      .image {
        height: 250px;
        padding-left: 8px;
        margin-top: 32px;
      }
    }
  }

  .content {
    color: $footerLinkText;
    font-size: 12px;
    margin-top: 8px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    @include mixins.fxLayoutGap(8px);

    .subheading {
      font-size: 15px;
      font-weight: 500;
    }
  }
}
