@import "../../../variables";

.reviewLayout {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-top: 1px solid $divider;

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      margin-left: 16px;
    }
  }

  .msg {
    margin: 4px 0px;
  }

  .userInfo {
    font-size: 12px;
    color: $darkTextGrey;
    font-weight: bold;
  }
}
