@import "../../variables";

.banner {
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.body {
  min-height: calc(560px - ($headerHeight + $bannerHeight + $footerHeight));
}

.filterBtn {
  margin-right: 8px;
}

.booksGrid {
  padding: 16px;
}
