@import "../../scss/variables";

.banner {
  width: 100%;
  max-height: 300px;
}

.bannerContainer {
  height: 300px;
  width: 100vw;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
}

.filterBtn {
  margin-right: 8px;
}

.booksGrid {
  padding: 16px;
}

.booksGridLoader {
  padding: 16px;
  color: $primary;
  font-weight: bold;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;

  img {
    align-self: center;
    height: 500px;
  }

  .msg {
    font-weight: bold;
    font-size: 16px;
    margin: 8px;
    color: $darkTextGrey;
    text-align: center;
    padding-bottom: 16px;
  }
}
