@import "../../variables";

.banner {
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.filterBtn {
  margin-right: 8px;
}

.booksGrid {
  padding: 16px;
}
