@import "../../variables";

.footer {
  background-color: $primary;
  height: $footerHeight;
  width: calc(100% - 32px);
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: absolute;
  bottom: 0;

  .info {
    display: flex;
    flex-direction: column;

    .heading {
      font-weight: bold;
    }

    .body {
      font-size: 10px;
      width: 70%;
      padding-top: 8px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }

  .links {
    font-size: small;
    font-weight: 500;

    a {
      color: $white;
      background-color: transparent;
      font-weight: bold;
    }

    a:link,
    a:visited {
      text-decoration: none;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }
}
