@import "../../scss/variables";

.layout {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;

  .paper {
    display: flex;
    padding: 16px;
    flex-wrap: wrap;

    .imageLayout {
      flex-direction: column;
      flex: 1;
      border: 1px solid $divider;
      padding: 16px;
      margin: 16px;
      width: 1150px;
      height: fit-content;

      .imageBox {
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        padding-top: 16px;
        justify-content: space-between;
      }
    }

    .description {
      flex-direction: column;
      flex: 2;
      padding-left: 16px;
      margin-left: 16px;

      .title {
        font-weight: bold;
        font-size: x-large;
      }

      .tabularDetails {
        flex-direction: column;

        .detailRow {
          display: flex;
          flex-direction: row;
          margin-bottom: 8px;

          .key {
            color: $textGrey;
            text-transform: uppercase;
            font-weight: bold;
          }

          ul {
            list-style: none;
            margin: 0px;
            padding-left: 16px;
          }

          ul li::before {
            content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $textGrey;
            font-weight: bold;
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
          }
        }
      }

      .notAvailableMsg {
        color: red;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .ratingHeading {
        display: flex;
        justify-content: space-between;

        .title {
          font-weight: bold;
          font-size: 16px;
        }

        .rateBtn {
          background-color: $primary;
          border-radius: 4px;
          font-weight: bold;
          color: $white;
          padding: 0px 8px;
        }
      }

      .noReviews {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image {
          width: 250px;
        }

        .noRatingMsg {
          text-align: center;
          padding: 16px;
          color: $textGrey;
          font-weight: bold;
          font-size: 24px;
        }
      }

      .loadingReviewContainer {
        min-height: 300px;
        display: flex;
        justify-content: center;

        .ratingOverlay {
          margin: 48px;
          align-self: center;
        }
      }
    }
  }
}
