.quantityInput {
  display: flex;
  flex-direction: row;
  margin: 16px 0px 16px 16px;
  align-items: center;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
